@import '../../../styles/variables';
@import '../../../components/InputField/InputFieldView.scss';
@import './RegistrationFormInner.scss';

.RegistrationForm {
  width: 100%;
  max-width: 380px;
  box-shadow: 0 1px 10px 5px rgba(231, 228, 231, 0.4);
  background: $white;
  padding: 70px 40px 50px;
  border-radius: 15px;
  margin: 20px 0;

  &__title {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
  }

  h1 {
    color: $lavender;
  }

  .Icon {
    background-image: url('/images/user.svg');
    margin-left: 10px;
  }

}