@import '../../../styles/variables';

.AvatarInnerForm {
  margin-bottom: 62px;
  margin-top: 62px;

  &__inner {
    display: flex;
  }

  &__photo {
    background-color: $grey;
    background-position: center;
    background-size: cover;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    padding: 0;
    border: 1px solid $grey;
    color: $dark-text;
    font-size: 14px;
  }

  &__user-info {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    align-items: flex-start;
  }

  &__user-change-photo-label {
    width: auto;
    flex: 0 0 auto;
    margin-top: auto;
    margin-bottom: 20px;
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
    color: $purple;

    &:hover {
      text-decoration: none;
    }
  }

  &__user-change-photo-btn {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  &__user-fullname {
    font-weight: 700;
    font-size: 18px;
    color: $dark-text;
  }

  &__user-display-name {
    margin-top: 8px;
    font-size: 14px;
    color: $dark-text;
  }
}
