@import '../../styles/variables';

.ButtonView {
  background: $lavender;
  border: 1px solid $purple;
  padding: 10px 25px;
  color: $light-text;
  font-size: 16px;
  transition: background-color $short-effect;
  border-radius: 50px;
  outline: none;
  cursor: pointer;

  &:hover {
    background: $purple;
  }

  &:active {
    background: $fuchsia;
  }

  &.Icon {
    padding: 0;
    border: none;
    transition: opacity $short-effect;

    &:hover {
      background-color: $pink-layout;
      background-repeat: no-repeat;
      background-position: center;
      opacity: $opacity;
    }

    &:active {
      background-color: $pink-layout;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
