.InputFieldView {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; }
  .InputFieldView > * {
    flex: 0 0 auto; }
  .InputFieldView label {
    display: block;
    font-weight: 600;
    font-size: 14px;
    color: #474049;
    margin-bottom: 10px; }
  .InputFieldView input:not([type='file']) {
    width: 100%;
    outline: none;
    display: block;
    height: 42px;
    border-radius: 7px;
    background: #ffffff;
    border: 1px solid #e7e4e7;
    padding: 0 7px;
    font-size: 14px;
    color: #474049;
    transition: border-color ease 0.15s; }
    .InputFieldView input:not([type='file']):hover {
      border-color: #946bd6; }
    .InputFieldView input:not([type='file']):focus {
      border-color: #99889b; }
    .InputFieldView input:not([type='file'])::-webkit-input-placeholder {
      color: #474049;
      font-weight: 500;
      font-size: 14px; }
    .InputFieldView input:not([type='file']):-ms-input-placeholder {
      color: #474049;
      font-weight: 500;
      font-size: 14px; }
    .InputFieldView input:not([type='file'])::placeholder {
      color: #474049;
      font-weight: 500;
      font-size: 14px; }
  .InputFieldView__error {
    color: red;
    font-size: 14px;
    margin-top: 5px; }

.LoginFormInner__forgot-password {
  display: block;
  text-align: right; }

.LoginFormInner button {
  margin-top: 20px; }

.LoginFormInner__sigh-in {
  display: block !important;
  margin-top: 30px;
  color: #7c45d6 !important; }

.LoginFormInner .InputFieldView {
  display: flex;
  flex-direction: column; }
  .LoginFormInner .InputFieldView > * {
    flex: 0 0 auto; }
  .LoginFormInner .InputFieldView:first-child {
    margin-top: 20px; }
