@import '../../../styles/common';
@import '../../../components/User/User.scss';
@import './ContactBlock.scss';
@import '../../../components/Message/Message.scss';
@import './MessengerInnerForm.scss';
@import './SearchInnerForm.scss';

.Chat {
  display: flex;

  &__grid {
    height: 690px;
    margin: 40px 0 30px;
    display: flex;
  }

  &__navigation {
    position: relative;
    width: 400px;
    border: 1px solid $light-text;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
  }

  &__search-dialogs {
    height: 90px;
    width: 100%;
    border-bottom: 1px solid $light-text;
    display: flex;
    align-items: center;
    padding: 0 10px;

    .Block, form {
      width: 100%;
    }
  }

  &__main {
    border: 1px solid $light-text;
    border-left: none;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    width: calc(100% - 400px);
    display: flex;
    flex-direction: column;
  }

  &__add-dialog-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    z-index: 2;
    background-color: $lavender;
    box-shadow: 0 5px 10px rgba(148, 107, 214, 0.5);
    transition: opacity $short-effect;
    cursor: pointer;

    &.Icon {
      background-image: url('/images/add.svg');

      &:hover {
        background-color: $lavender;
      }

      &:active {
        background-color: $lavender;
      }
    }
  }

  &__personal-info {
    flex: 0 0 auto;
    height: 90px;
    width: 100%;
    border-bottom: 1px solid $light-text;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    .User__name {
      color: $dark-text;
    }

    button.Icon {
      background-image: url('/images/menu.svg');
    }
  }

  &__messenger {
    height: 100%;
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;

    &--empty {
      background: $chat-layout;
      justify-content: center;
      align-items: center;

      p {
        margin: 0;
        font-size: 14px;
        line-height: 16px;
        color: $dark-text;
      }
    }
  }

  &__messenger-window {
    padding: 20px;
    width: 100%;
    height: 100%;
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    .Block {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
    }
  }

}
