@import '../../../styles/variables';

.Chat {
  display: flex;

  &__grid {
    height: 690px;
    margin: 40px 0 30px;
    display: flex;

    & > .Block {
      display: flex;

      &:last-child {
        width: calc(100% - 400px);
      }
    }
  }
}
