@font-face {
  font-family: 'Raleway';
  src: url('../../public/fonts/Raleway-Bold.ttf') format('truetype');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../public/fonts/Raleway-SemiBold.ttf') format('truetype');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../public/fonts/Raleway-Medium.ttf') format('truetype');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../public/fonts/Raleway-Regular.ttf') format('truetype');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../public/fonts/Raleway-Light.ttf') format('truetype');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}
