@import '../../styles/variables';
@import './views/Notification.scss';


.NotificationPortal {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 400px;
  display: flex;
  flex-direction: column;
  z-index: $zindex-popover;


  .Block {
    flex: 0 0 auto;
    width: 100%;
  }
}