mixin message(text, type)
    div(class=['Chat__message', type])=text

.Chat
    .container-fluid
        .Chat__grid
            aside.Chat__navigation
                .Chat__search-dialogs
                    form.Chat__search-dialogs-form(name='SearchForm')
                        input(type='text' placeholder='Поиск диалога' name='search')
                        .Icon
                .Chat__list
                    .Chat__user
                        include ../mixins/index
                        +user('Василий Панкратович', 'online', 'Привет! Как твое ничего?')
                        .Chat__new-message-counter 1
                    .Chat__user
                        include ../mixins/index
                        +user('Евгения Виссарионовна', 'online', 'Не поверишь, что я только что узнала!')
                        .Chat__new-message-counter 2
                    if active
                        div(class=['Chat__user', 'Chat__user--active'])
                            include ../mixins/index
                            +user('Лариса Павловна', 'online', 'Приглашаю тебя на юбилей!')
                button(class=['Chat__add-dialog-btn', 'Icon'] title='Добавить контакт')
            main.Chat__main
                .Chat__personal-info
                    include ../mixins/index
                    +user('Прасковья Иосифовна', 'online')
                    button.Icon(title='Настройки чата')
                if active
                    .Chat__messenger
                        .Chat__messenger-window
                            +message('Входящее сообщение', 'incoming')
                            +message('Исходящее сообщение', 'outgoing')
                            +message('Еще одно исходящее сообщение', 'outgoing')
                        form.Chat__messenger-form(name='ChatForm')
                            textarea(placeholder='Начните вводить сообщение...' name='message')
                            button(class=['Icon', 'Chat__messenger-attachment'])
                            input.Chat__messenger-send-btn(type='submit' value='')
                else
                    div(class=['Chat__messenger', 'Chat__messenger--empty'])
                        p Выберите чат, чтобы отправить сообщение
