.RegistrationForm
    .RegistrationForm__title
        h1 Регистрация
        .Icon
    form(name='RegistrationForm')
        include ../mixins/index
        +inputGroup('first_name', 'text', 'Имя')
        +inputGroup('second_name', 'text', 'Фамилия')
        +inputGroup('email', 'email', 'Email')
        +inputGroup('phone', 'text', 'Номер телефона')
        +inputGroup('login', 'text', 'Логин')
        +inputGroup('password', 'password', 'Пароль')
        input(type='submit' value='Зарегистрироваться')
        a.RegistrationForm__login(href='./login.html') Вход