extends layout/layout

block variables
    - var title = 'Chat'
    - var stylePath = './css/chat.css'
    - var scriptPath = './scripts/index.js'
block content
    -var active=true
    include components/Chat



