@import '../../../styles/variables';

.MessengerInnerForm {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  border-top: 1px solid $light-text;

  textarea {
    height: 40px;
    outline: none;
    border: none;
    padding: 7px 108px 7px 20px;
    width: 100%;
    flex: 0 1 auto;
    resize: none;
    color: $dark-text;
    font-weight: 500;
    font-size: 14px;
    font-family: inherit !important;

    @include placeholder {
      color: $dark-text;
      font-weight: 500;
      font-size: 14px;
    }
  }

  &__messenger-attachment {
    flex: 0 0 auto;
    margin-right: 20px;

    &.Icon {
      background-image: url('../../../../public/images/attachment.svg');
    }
  }

  &__messenger-send-btn {
    flex: 0 0 auto;
    background: $purple url('../../../../public/images/arrow-send.svg') !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    width: 36px !important;
    height: 36px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none !important;
    box-shadow: 0 5px 10px rgba(148, 107, 214, 0.5);
    transition: box-shadow $short-effect !important;
    border-radius: 50% !important;
    padding: 0 !important;
    margin-right: 20px;

    &:hover {
      box-shadow: none;
      background: $purple url('../../../../public/images/arrow-send.svg') !important;
      background-position: center !important;
      background-repeat: no-repeat !important;
    }

    &:active {
      background: $purple url('../../../../public/images/arrow-send.svg') !important;
      background-position: center !important;
      background-repeat: no-repeat !important;
    }
  }
}
