@import '../../../styles/variables';

.Notification {
  width: 100%;
  min-width: 150px;
  padding: 30px 20px;
  border-radius: 7px;
  background: $lavender;
  color: $white;
  margin-bottom: 10px;
  position: relative;

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: opacity $short-effect;
    color: $white;
    font-size: 12px;

    &:hover {
      opacity: 0.8;
    }
  }
}