@font-face {
  font-family: 'Raleway';
  src: url("/fonts/Raleway-Bold.ttf") format("truetype");
  font-display: swap;
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("/fonts/Raleway-SemiBold.ttf") format("truetype");
  font-display: swap;
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("/fonts/Raleway-Medium.ttf") format("truetype");
  font-display: swap;
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("/fonts/Raleway-Regular.ttf") format("truetype");
  font-display: swap;
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("/fonts/Raleway-Light.ttf") format("truetype");
  font-display: swap;
  font-weight: 300;
  font-style: normal; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Raleway', sans-serif; }
  body * {
    box-sizing: border-box; }

.container-fluid {
  width: 100%;
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto; }

a {
  display: inline-block;
  color: #99889b;
  font-size: 14px; }
  a:hover {
    text-decoration: none; }

button, input[type='submit'], .btn {
  background: #946bd6;
  border: 1px solid #7c45d6;
  padding: 10px 25px;
  color: #e7e4e7;
  font-size: 16px;
  transition: background-color ease 0.15s;
  border-radius: 50px;
  outline: none;
  cursor: pointer; }
  button:hover, input[type='submit']:hover, .btn:hover {
    background: #7c45d6; }
  button:active, input[type='submit']:active, .btn:active {
    background: #c561d3; }
  button.Icon, input[type='submit'].Icon, .btn.Icon {
    padding: 0;
    border: none;
    transition: opacity ease 0.15s; }
    button.Icon:hover, input[type='submit'].Icon:hover, .btn.Icon:hover {
      background-color: #fef6f9;
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.8; }
    button.Icon:active, input[type='submit'].Icon:active, .btn.Icon:active {
      background-color: #fef6f9;
      background-repeat: no-repeat;
      background-position: center; }

.Icon {
  background-color: #fef6f9;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 36px;
  height: 36px; }

h1 {
  font-weight: 700;
  font-size: 36px; }

@font-face {
  font-family: 'Raleway';
  src: url("/fonts/Raleway-Bold.ttf") format("truetype");
  font-display: swap;
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("/fonts/Raleway-SemiBold.ttf") format("truetype");
  font-display: swap;
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("/fonts/Raleway-Medium.ttf") format("truetype");
  font-display: swap;
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("/fonts/Raleway-Regular.ttf") format("truetype");
  font-display: swap;
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("/fonts/Raleway-Light.ttf") format("truetype");
  font-display: swap;
  font-weight: 300;
  font-style: normal; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Raleway', sans-serif; }
  body * {
    box-sizing: border-box; }

.container-fluid {
  width: 100%;
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto; }

a {
  display: inline-block;
  color: #99889b;
  font-size: 14px; }
  a:hover {
    text-decoration: none; }

button, input[type='submit'], .btn {
  background: #946bd6;
  border: 1px solid #7c45d6;
  padding: 10px 25px;
  color: #e7e4e7;
  font-size: 16px;
  transition: background-color ease 0.15s;
  border-radius: 50px;
  outline: none;
  cursor: pointer; }
  button:hover, input[type='submit']:hover, .btn:hover {
    background: #7c45d6; }
  button:active, input[type='submit']:active, .btn:active {
    background: #c561d3; }
  button.Icon, input[type='submit'].Icon, .btn.Icon {
    padding: 0;
    border: none;
    transition: opacity ease 0.15s; }
    button.Icon:hover, input[type='submit'].Icon:hover, .btn.Icon:hover {
      background-color: #fef6f9;
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.8; }
    button.Icon:active, input[type='submit'].Icon:active, .btn.Icon:active {
      background-color: #fef6f9;
      background-repeat: no-repeat;
      background-position: center; }

.Icon {
  background-color: #fef6f9;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 36px;
  height: 36px; }

h1 {
  font-weight: 700;
  font-size: 36px; }

.User {
  display: flex;
  align-items: center;
  width: 100%; }
  .User__img-wrap {
    position: relative;
    margin-right: 10px; }
  .User__img {
    background-color: #c4c4c4;
    background-size: cover;
    background-position: center;
    width: 55px;
    height: 55px;
    border-radius: 50%; }
  .User__status {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    width: 18px;
    height: 18px;
    background-size: auto;
    background-position: center; }
    .User__status.online {
      background-image: url("/images/status-online.svg"); }
  .User__info {
    width: 100%;
    flex: 0 1 auto; }
  .User__name {
    font-weight: 700;
    font-size: 18px;
    color: #ffffff; }
  .User__message {
    font-size: 14px;
    color: #474049;
    margin-top: 7px;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    text-overflow: ellipsis; }

.Header {
  background: #946bd6;
  border-bottom: 1px solid #7c45d6;
  height: 90px; }
  .Header .container-fluid {
    height: 100%; }
  .Header nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .Header__link {
    display: flex;
    align-items: center;
    transition: opacity ease 0.15s; }
    .Header__link, .Header__link:hover {
      text-decoration: none; }
    .Header__link:hover {
      opacity: 0.8; }
  .Header__settings .Icon {
    background-image: url("/images/settings.svg"); }
  .Header__back-btn .Icon {
    background-image: url("/images/arrow.svg"); }
  .Header__settings-label {
    font-size: 18px !important;
    color: #ffffff !important;
    font-weight: 400 !important;
    margin-left: 7px; }
  .Header__logout {
    color: #ffffff;
    font-size: 16px;
    text-decoration: underline; }
    .Header__logout:hover {
      text-decoration: none; }

.Chat {
  display: flex; }
  .Chat__grid {
    height: 690px;
    margin: 40px 0 30px;
    display: flex; }
    .Chat__grid > .Block {
      display: flex; }
      .Chat__grid > .Block:last-child {
        width: calc(100% - 400px); }

.User {
  display: flex;
  align-items: center;
  width: 100%; }
  .User__img-wrap {
    position: relative;
    margin-right: 10px; }
  .User__img {
    background-color: #c4c4c4;
    background-size: cover;
    background-position: center;
    width: 55px;
    height: 55px;
    border-radius: 50%; }
  .User__status {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    width: 18px;
    height: 18px;
    background-size: auto;
    background-position: center; }
    .User__status.online {
      background-image: url("/images/status-online.svg"); }
  .User__info {
    width: 100%;
    flex: 0 1 auto; }
  .User__name {
    font-weight: 700;
    font-size: 18px;
    color: #ffffff; }
  .User__message {
    font-size: 14px;
    color: #474049;
    margin-top: 7px;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    text-overflow: ellipsis; }

.ChatItem {
  position: relative;
  height: 90px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  transition: background ease 0.15s;
  border-bottom: 1px solid #e7e4e7;
  cursor: pointer; }
  .ChatItem:hover {
    background: #fef6f9; }
  .ChatItem .User__name {
    color: #474049; }
  .ChatItem--active {
    background: #ee6b9c; }
    .ChatItem--active:hover {
      background: #ee6b9c; }
    .ChatItem--active .User__name {
      color: #ffffff; }
    .ChatItem--active .User__message {
      color: #e7e4e7; }
  .ChatItem__new-message-counter {
    position: absolute;
    top: 50%;
    right: 22px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #c561d3;
    border: 1px solid #7c45d6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff; }

.Message {
  flex: 0 0 auto;
  padding: 13px;
  border-radius: 15px;
  max-width: 350px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #474049;
  margin-top: 10px; }
  .Message.incoming {
    background: #f8f7f8; }
  .Message.outgoing {
    background: #eaebfb;
    align-self: flex-end; }

.MessengerInnerForm {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  border-top: 1px solid #e7e4e7; }
  .MessengerInnerForm textarea {
    height: 40px;
    outline: none;
    border: none;
    padding: 7px 108px 7px 20px;
    width: 100%;
    flex: 0 1 auto;
    resize: none;
    color: #474049;
    font-weight: 500;
    font-size: 14px;
    font-family: inherit !important; }
    .MessengerInnerForm textarea::-webkit-input-placeholder {
      color: #474049;
      font-weight: 500;
      font-size: 14px; }
    .MessengerInnerForm textarea:-ms-input-placeholder {
      color: #474049;
      font-weight: 500;
      font-size: 14px; }
    .MessengerInnerForm textarea::placeholder {
      color: #474049;
      font-weight: 500;
      font-size: 14px; }
  .MessengerInnerForm__messenger-attachment {
    flex: 0 0 auto;
    margin-right: 20px; }
    .MessengerInnerForm__messenger-attachment.Icon {
      background-image: url("/images/attachment.svg"); }
  .MessengerInnerForm__messenger-send-btn {
    flex: 0 0 auto;
    background: #7c45d6 url("/images/arrow-send.svg") !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    width: 36px !important;
    height: 36px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none !important;
    box-shadow: 0 5px 10px rgba(148, 107, 214, 0.5);
    transition: box-shadow ease 0.15s !important;
    border-radius: 50% !important;
    padding: 0 !important;
    margin-right: 20px; }
    .MessengerInnerForm__messenger-send-btn:hover {
      box-shadow: none;
      background: #7c45d6 url("/images/arrow-send.svg") !important;
      background-position: center !important;
      background-repeat: no-repeat !important; }
    .MessengerInnerForm__messenger-send-btn:active {
      background: #7c45d6 url("/images/arrow-send.svg") !important;
      background-position: center !important;
      background-repeat: no-repeat !important; }

.SearchInnerForm {
  position: relative;
  width: 100%; }
  .SearchInnerForm input {
    border: none !important;
    background: #fef6f9 !important;
    border-radius: 7px !important;
    height: 50px !important;
    padding: 0 50px 0 17px !important;
    transition: background ease 0.15s !important;
    cursor: pointer !important;
    display: block;
    width: 100%;
    outline: none; }
    .SearchInnerForm input:hover {
      background: #e7e4e7 !important; }
    .SearchInnerForm input:focus {
      background: #fef6f9 !important; }
  .SearchInnerForm .Icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    background-image: url("/images/search.svg"); }

.CreateChatModal h1 {
  margin-bottom: 40px; }

.ChatsList {
  position: relative;
  width: 400px;
  border: 1px solid #e7e4e7;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  display: flex;
  flex-direction: column; }
  .ChatsList__list {
    height: 100%;
    flex: 0 1 auto;
    overflow: auto; }
  .ChatsList__search-dialogs {
    flex: 0 0 auto;
    height: 90px;
    width: 100%;
    border-bottom: 1px solid #e7e4e7;
    display: flex;
    align-items: center;
    padding: 0 10px; }
    .ChatsList__search-dialogs .Block, .ChatsList__search-dialogs form {
      width: 100%; }
  .ChatsList__add-dialog-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    z-index: 2;
    background-color: #946bd6;
    box-shadow: 0 5px 10px rgba(148, 107, 214, 0.5);
    transition: opacity ease 0.15s;
    cursor: pointer; }
    .ChatsList__add-dialog-btn.Icon {
      background-image: url("/images/add.svg"); }
      .ChatsList__add-dialog-btn.Icon:hover {
        background-color: #946bd6; }
      .ChatsList__add-dialog-btn.Icon:active {
        background-color: #946bd6; }

.ChatMain {
  border: 1px solid #e7e4e7;
  border-left: none;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  width: 100%;
  display: flex;
  flex-direction: column; }
  .ChatMain__personal-info {
    flex: 0 0 auto;
    height: 90px;
    width: 100%;
    border-bottom: 1px solid #e7e4e7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px; }
    .ChatMain__personal-info .User__name {
      color: #474049; }
    .ChatMain__personal-info button.Icon {
      background-image: url("/images/menu.svg"); }
  .ChatMain__messenger {
    height: 100%;
    flex: 0 1 auto;
    display: flex;
    flex-direction: column; }
    .ChatMain__messenger--empty {
      background: #fafafa;
      justify-content: center;
      align-items: center; }
      .ChatMain__messenger--empty p {
        margin: 0;
        font-size: 14px;
        line-height: 16px;
        color: #474049; }
  .ChatMain__messenger-window {
    padding: 20px;
    width: 100%;
    height: 100%;
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start; }
    .ChatMain__messenger-window .Block {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start; }

.User {
  display: flex;
  align-items: center;
  width: 100%; }
  .User__img-wrap {
    position: relative;
    margin-right: 10px; }
  .User__img {
    background-color: #c4c4c4;
    background-size: cover;
    background-position: center;
    width: 55px;
    height: 55px;
    border-radius: 50%; }
  .User__status {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    width: 18px;
    height: 18px;
    background-size: auto;
    background-position: center; }
    .User__status.online {
      background-image: url("/images/status-online.svg"); }
  .User__info {
    width: 100%;
    flex: 0 1 auto; }
  .User__name {
    font-weight: 700;
    font-size: 18px;
    color: #ffffff; }
  .User__message {
    font-size: 14px;
    color: #474049;
    margin-top: 7px;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    text-overflow: ellipsis; }

.Header {
  background: #946bd6;
  border-bottom: 1px solid #7c45d6;
  height: 90px; }
  .Header .container-fluid {
    height: 100%; }
  .Header nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .Header__link {
    display: flex;
    align-items: center;
    transition: opacity ease 0.15s; }
    .Header__link, .Header__link:hover {
      text-decoration: none; }
    .Header__link:hover {
      opacity: 0.8; }
  .Header__settings .Icon {
    background-image: url("/images/settings.svg"); }
  .Header__back-btn .Icon {
    background-image: url("/images/arrow.svg"); }
  .Header__settings-label {
    font-size: 18px !important;
    color: #ffffff !important;
    font-weight: 400 !important;
    margin-left: 7px; }
  .Header__logout {
    color: #ffffff;
    font-size: 16px;
    text-decoration: underline; }
    .Header__logout:hover {
      text-decoration: none; }

.ErrorMessage {
  display: flex; }
  .ErrorMessage.not-found .ErrorMessage__img-code {
    font-size: 36px; }
  .ErrorMessage.not-found .ErrorMessage__img-icon:after {
    background-image: url("/images/question.svg"); }
  .ErrorMessage.server-error .ErrorMessage__img-code {
    font-size: 18px; }
  .ErrorMessage.server-error .ErrorMessage__img-icon:after {
    background-image: url("/images/warning.svg"); }
  .ErrorMessage__img {
    position: relative;
    height: 118px;
    width: 118px; }
  .ErrorMessage__img-code {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #ee6b9c;
    font-weight: 700;
    background: linear-gradient(180deg, #FEF6F9 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #fafafa; }
  .ErrorMessage__img-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: linear-gradient(180deg, #FEF6F9 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #fafafa; }
    .ErrorMessage__img-icon:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-repeat: no-repeat;
      background-position: center; }
  .ErrorMessage__info {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .ErrorMessage__info h3 {
      font-weight: 700;
      font-size: 18px;
      color: #474049;
      margin-bottom: 8px; }
    .ErrorMessage__info p {
      font-size: 14px;
      color: #99889b;
      margin-bottom: 0; }
    .ErrorMessage__info a {
      margin-top: auto;
      display: block; }
      .ErrorMessage__info a, .ErrorMessage__info a:hover {
        text-decoration: none; }

.ErrorPage__wrap {
  min-height: calc(100vh - 200px);
  display: flex;
  align-items: center;
  justify-content: center; }

.InputFieldView {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; }
  .InputFieldView > * {
    flex: 0 0 auto; }
  .InputFieldView label {
    display: block;
    font-weight: 600;
    font-size: 14px;
    color: #474049;
    margin-bottom: 10px; }
  .InputFieldView input:not([type='file']) {
    width: 100%;
    outline: none;
    display: block;
    height: 42px;
    border-radius: 7px;
    background: #ffffff;
    border: 1px solid #e7e4e7;
    padding: 0 7px;
    font-size: 14px;
    color: #474049;
    transition: border-color ease 0.15s; }
    .InputFieldView input:not([type='file']):hover {
      border-color: #946bd6; }
    .InputFieldView input:not([type='file']):focus {
      border-color: #99889b; }
    .InputFieldView input:not([type='file'])::-webkit-input-placeholder {
      color: #474049;
      font-weight: 500;
      font-size: 14px; }
    .InputFieldView input:not([type='file']):-ms-input-placeholder {
      color: #474049;
      font-weight: 500;
      font-size: 14px; }
    .InputFieldView input:not([type='file'])::placeholder {
      color: #474049;
      font-weight: 500;
      font-size: 14px; }
  .InputFieldView__error {
    color: red;
    font-size: 14px;
    margin-top: 5px; }

.LoginFormInner__forgot-password {
  display: block;
  text-align: right; }

.LoginFormInner button {
  margin-top: 20px; }

.LoginFormInner__sigh-in {
  display: block !important;
  margin-top: 30px;
  color: #7c45d6 !important; }

.LoginFormInner .InputFieldView {
  display: flex;
  flex-direction: column; }
  .LoginFormInner .InputFieldView > * {
    flex: 0 0 auto; }
  .LoginFormInner .InputFieldView:first-child {
    margin-top: 20px; }

.LoginForm {
  width: 100%;
  max-width: 380px;
  box-shadow: 0 1px 10px 5px rgba(231, 228, 231, 0.4);
  background: #ffffff;
  padding: 100px 40px 60px;
  border-radius: 15px;
  margin: 20px 0; }
  .LoginForm__title {
    margin-bottom: 50px;
    display: flex;
    align-items: center; }
  .LoginForm h1 {
    color: #946bd6; }
  .LoginForm .Icon {
    background-image: url("/images/enter.svg");
    margin-left: 10px; }

.LoginPage__wrap {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.User {
  display: flex;
  align-items: center;
  width: 100%; }
  .User__img-wrap {
    position: relative;
    margin-right: 10px; }
  .User__img {
    background-color: #c4c4c4;
    background-size: cover;
    background-position: center;
    width: 55px;
    height: 55px;
    border-radius: 50%; }
  .User__status {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    width: 18px;
    height: 18px;
    background-size: auto;
    background-position: center; }
    .User__status.online {
      background-image: url("/images/status-online.svg"); }
  .User__info {
    width: 100%;
    flex: 0 1 auto; }
  .User__name {
    font-weight: 700;
    font-size: 18px;
    color: #ffffff; }
  .User__message {
    font-size: 14px;
    color: #474049;
    margin-top: 7px;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    text-overflow: ellipsis; }

.Header {
  background: #946bd6;
  border-bottom: 1px solid #7c45d6;
  height: 90px; }
  .Header .container-fluid {
    height: 100%; }
  .Header nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .Header__link {
    display: flex;
    align-items: center;
    transition: opacity ease 0.15s; }
    .Header__link, .Header__link:hover {
      text-decoration: none; }
    .Header__link:hover {
      opacity: 0.8; }
  .Header__settings .Icon {
    background-image: url("/images/settings.svg"); }
  .Header__back-btn .Icon {
    background-image: url("/images/arrow.svg"); }
  .Header__settings-label {
    font-size: 18px !important;
    color: #ffffff !important;
    font-weight: 400 !important;
    margin-left: 7px; }
  .Header__logout {
    color: #ffffff;
    font-size: 16px;
    text-decoration: underline; }
    .Header__logout:hover {
      text-decoration: none; }

.ErrorMessage {
  display: flex; }
  .ErrorMessage.not-found .ErrorMessage__img-code {
    font-size: 36px; }
  .ErrorMessage.not-found .ErrorMessage__img-icon:after {
    background-image: url("/images/question.svg"); }
  .ErrorMessage.server-error .ErrorMessage__img-code {
    font-size: 18px; }
  .ErrorMessage.server-error .ErrorMessage__img-icon:after {
    background-image: url("/images/warning.svg"); }
  .ErrorMessage__img {
    position: relative;
    height: 118px;
    width: 118px; }
  .ErrorMessage__img-code {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #ee6b9c;
    font-weight: 700;
    background: linear-gradient(180deg, #FEF6F9 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #fafafa; }
  .ErrorMessage__img-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: linear-gradient(180deg, #FEF6F9 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #fafafa; }
    .ErrorMessage__img-icon:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-repeat: no-repeat;
      background-position: center; }
  .ErrorMessage__info {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .ErrorMessage__info h3 {
      font-weight: 700;
      font-size: 18px;
      color: #474049;
      margin-bottom: 8px; }
    .ErrorMessage__info p {
      font-size: 14px;
      color: #99889b;
      margin-bottom: 0; }
    .ErrorMessage__info a {
      margin-top: auto;
      display: block; }
      .ErrorMessage__info a, .ErrorMessage__info a:hover {
        text-decoration: none; }

.NotFoundPage__wrap {
  min-height: calc(100vh - 200px);
  display: flex;
  align-items: center;
  justify-content: center; }

.User {
  display: flex;
  align-items: center;
  width: 100%; }
  .User__img-wrap {
    position: relative;
    margin-right: 10px; }
  .User__img {
    background-color: #c4c4c4;
    background-size: cover;
    background-position: center;
    width: 55px;
    height: 55px;
    border-radius: 50%; }
  .User__status {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    width: 18px;
    height: 18px;
    background-size: auto;
    background-position: center; }
    .User__status.online {
      background-image: url("/images/status-online.svg"); }
  .User__info {
    width: 100%;
    flex: 0 1 auto; }
  .User__name {
    font-weight: 700;
    font-size: 18px;
    color: #ffffff; }
  .User__message {
    font-size: 14px;
    color: #474049;
    margin-top: 7px;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    text-overflow: ellipsis; }

.Header {
  background: #946bd6;
  border-bottom: 1px solid #7c45d6;
  height: 90px; }
  .Header .container-fluid {
    height: 100%; }
  .Header nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .Header__link {
    display: flex;
    align-items: center;
    transition: opacity ease 0.15s; }
    .Header__link, .Header__link:hover {
      text-decoration: none; }
    .Header__link:hover {
      opacity: 0.8; }
  .Header__settings .Icon {
    background-image: url("/images/settings.svg"); }
  .Header__back-btn .Icon {
    background-image: url("/images/arrow.svg"); }
  .Header__settings-label {
    font-size: 18px !important;
    color: #ffffff !important;
    font-weight: 400 !important;
    margin-left: 7px; }
  .Header__logout {
    color: #ffffff;
    font-size: 16px;
    text-decoration: underline; }
    .Header__logout:hover {
      text-decoration: none; }

.InputFieldView {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; }
  .InputFieldView > * {
    flex: 0 0 auto; }
  .InputFieldView label {
    display: block;
    font-weight: 600;
    font-size: 14px;
    color: #474049;
    margin-bottom: 10px; }
  .InputFieldView input:not([type='file']) {
    width: 100%;
    outline: none;
    display: block;
    height: 42px;
    border-radius: 7px;
    background: #ffffff;
    border: 1px solid #e7e4e7;
    padding: 0 7px;
    font-size: 14px;
    color: #474049;
    transition: border-color ease 0.15s; }
    .InputFieldView input:not([type='file']):hover {
      border-color: #946bd6; }
    .InputFieldView input:not([type='file']):focus {
      border-color: #99889b; }
    .InputFieldView input:not([type='file'])::-webkit-input-placeholder {
      color: #474049;
      font-weight: 500;
      font-size: 14px; }
    .InputFieldView input:not([type='file']):-ms-input-placeholder {
      color: #474049;
      font-weight: 500;
      font-size: 14px; }
    .InputFieldView input:not([type='file'])::placeholder {
      color: #474049;
      font-weight: 500;
      font-size: 14px; }
  .InputFieldView__error {
    color: red;
    font-size: 14px;
    margin-top: 5px; }

.ButtonView {
  background: #946bd6;
  border: 1px solid #7c45d6;
  padding: 10px 25px;
  color: #e7e4e7;
  font-size: 16px;
  transition: background-color ease 0.15s;
  border-radius: 50px;
  outline: none;
  cursor: pointer; }
  .ButtonView:hover {
    background: #7c45d6; }
  .ButtonView:active {
    background: #c561d3; }
  .ButtonView.Icon {
    padding: 0;
    border: none;
    transition: opacity ease 0.15s; }
    .ButtonView.Icon:hover {
      background-color: #fef6f9;
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.8; }
    .ButtonView.Icon:active {
      background-color: #fef6f9;
      background-repeat: no-repeat;
      background-position: center; }

.ProfileInnerForm__title {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e7e4e7;
  padding: 14px 0; }
  .ProfileInnerForm__title h3 {
    color: #99889b;
    font-size: 18px;
    font-weight: 400;
    margin-left: 10px; }
  .ProfileInnerForm__title .Icon {
    background-image: url("/images/user.svg"); }

.ProfileInnerForm__input-group {
  margin-top: 30px;
  width: 100%;
  max-width: 300px; }
  .ProfileInnerForm__input-group input[type='submit'] {
    margin-top: 20px; }

.AvatarInnerForm {
  margin-bottom: 62px;
  margin-top: 62px; }
  .AvatarInnerForm__inner {
    display: flex; }
  .AvatarInnerForm__photo {
    background-color: #c4c4c4;
    background-position: center;
    background-size: cover;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    padding: 0;
    border: 1px solid #c4c4c4;
    color: #474049;
    font-size: 14px; }
  .AvatarInnerForm__user-info {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    align-items: flex-start; }
  .AvatarInnerForm__user-change-photo-label {
    width: auto;
    flex: 0 0 auto;
    margin-top: auto;
    margin-bottom: 20px;
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
    color: #7c45d6; }
    .AvatarInnerForm__user-change-photo-label:hover {
      text-decoration: none; }
  .AvatarInnerForm__user-change-photo-btn {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; }
  .AvatarInnerForm__user-fullname {
    font-weight: 700;
    font-size: 18px;
    color: #474049; }
  .AvatarInnerForm__user-display-name {
    margin-top: 8px;
    font-size: 14px;
    color: #474049; }

.PasswordInnerForm {
  margin-top: 64px;
  margin-bottom: 80px; }
  .PasswordInnerForm__title {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e7e4e7;
    padding: 14px 0; }
    .PasswordInnerForm__title h3 {
      color: #99889b;
      font-size: 18px;
      font-weight: 400;
      margin-left: 10px; }
    .PasswordInnerForm__title .Icon {
      background-image: url("/images/lock.svg"); }
  .PasswordInnerForm__input-group {
    margin-top: 30px;
    width: 100%;
    max-width: 300px; }
    .PasswordInnerForm__input-group input[type='submit'] {
      margin-top: 20px; }

.InputFieldView {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; }
  .InputFieldView > * {
    flex: 0 0 auto; }
  .InputFieldView label {
    display: block;
    font-weight: 600;
    font-size: 14px;
    color: #474049;
    margin-bottom: 10px; }
  .InputFieldView input:not([type='file']) {
    width: 100%;
    outline: none;
    display: block;
    height: 42px;
    border-radius: 7px;
    background: #ffffff;
    border: 1px solid #e7e4e7;
    padding: 0 7px;
    font-size: 14px;
    color: #474049;
    transition: border-color ease 0.15s; }
    .InputFieldView input:not([type='file']):hover {
      border-color: #946bd6; }
    .InputFieldView input:not([type='file']):focus {
      border-color: #99889b; }
    .InputFieldView input:not([type='file'])::-webkit-input-placeholder {
      color: #474049;
      font-weight: 500;
      font-size: 14px; }
    .InputFieldView input:not([type='file']):-ms-input-placeholder {
      color: #474049;
      font-weight: 500;
      font-size: 14px; }
    .InputFieldView input:not([type='file'])::placeholder {
      color: #474049;
      font-weight: 500;
      font-size: 14px; }
  .InputFieldView__error {
    color: red;
    font-size: 14px;
    margin-top: 5px; }

.InputFieldView {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; }
  .InputFieldView > * {
    flex: 0 0 auto; }
  .InputFieldView label {
    display: block;
    font-weight: 600;
    font-size: 14px;
    color: #474049;
    margin-bottom: 10px; }
  .InputFieldView input:not([type='file']) {
    width: 100%;
    outline: none;
    display: block;
    height: 42px;
    border-radius: 7px;
    background: #ffffff;
    border: 1px solid #e7e4e7;
    padding: 0 7px;
    font-size: 14px;
    color: #474049;
    transition: border-color ease 0.15s; }
    .InputFieldView input:not([type='file']):hover {
      border-color: #946bd6; }
    .InputFieldView input:not([type='file']):focus {
      border-color: #99889b; }
    .InputFieldView input:not([type='file'])::-webkit-input-placeholder {
      color: #474049;
      font-weight: 500;
      font-size: 14px; }
    .InputFieldView input:not([type='file']):-ms-input-placeholder {
      color: #474049;
      font-weight: 500;
      font-size: 14px; }
    .InputFieldView input:not([type='file'])::placeholder {
      color: #474049;
      font-weight: 500;
      font-size: 14px; }
  .InputFieldView__error {
    color: red;
    font-size: 14px;
    margin-top: 5px; }

.RegistrationFormInner button {
  margin-top: 40px; }

.RegistrationFormInner__login {
  display: block !important;
  margin-top: 30px; }

.RegistrationForm {
  width: 100%;
  max-width: 380px;
  box-shadow: 0 1px 10px 5px rgba(231, 228, 231, 0.4);
  background: #ffffff;
  padding: 70px 40px 50px;
  border-radius: 15px;
  margin: 20px 0; }
  .RegistrationForm__title {
    margin-bottom: 50px;
    display: flex;
    align-items: center; }
  .RegistrationForm h1 {
    color: #946bd6; }
  .RegistrationForm .Icon {
    background-image: url("/images/user.svg");
    margin-left: 10px; }

.RegistrationPage__wrap {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.Modal__layout {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  background: rgba(71, 64, 73, 0.5);
  z-index: 1000; }

.Modal__modal {
  width: 100%;
  max-width: 400px;
  min-height: 300px;
  background: #ffffff;
  display: flex;
  border-radius: 7px; }

.Modal__inner {
  height: 100%;
  width: 100%;
  position: relative;
  padding: 50px 40px 40px; }

.Modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  transition: opacity ease 0.15s; }
  .Modal__close:hover {
    opacity: 0.8; }

.Notification {
  width: 100%;
  min-width: 150px;
  padding: 30px 20px;
  border-radius: 7px;
  background: #946bd6;
  color: #ffffff;
  margin-bottom: 10px;
  position: relative; }
  .Notification__close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: opacity ease 0.15s;
    color: #ffffff;
    font-size: 12px; }
    .Notification__close:hover {
      opacity: 0.8; }

.NotificationPortal {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 400px;
  display: flex;
  flex-direction: column;
  z-index: 1020; }
  .NotificationPortal .Block {
    flex: 0 0 auto;
    width: 100%; }
