@import '../../components/Header/Header.scss';
@import '../../components/ErrorMessage/ErrorMessage.scss';

.NotFoundPage {
  &__wrap {
    min-height: calc(100vh - 200px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
